<ion-view view-title="Shots">
  <ion-content class="padding">
    <ion-refresher on-refresh="shotsRefresh()">
    </ion-refresher>
    <a href="#/app/shots/{{shot.id}}" class="list card shot-card" ng-repeat="shot in shots">
      <div class="item item-avatar shot-item-avatar">
        <img ng-src="{{shot.user.avatar_url}}">
        <h2>{{shot.title}}</h2>
      </div>
      <div class="item">
        <img ng-src="{{shot.images.normal}}">
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left in">
        <span class="tab-item assertive shot-tab">
          <i class="icon ion-eye"></i>
          {{shot.views_count}}
        </span>
        <span class="tab-item assertive shot-tab">
          <i class="icon ion-android-favorite-outline"></i>
          {{shot.likes_count}}
        </span>
        <span class="tab-item assertive shot-tab">
          <i class="icon ion-android-chat"></i>
          {{shot.comments_count}}
        </span>
      </div>
    </a>
    <ion-infinite-scroll
      ng-if="moreShotsCanBeLoaded()"
      on-infinite="loadMoreShots()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
